[data-bs-theme="dark"] {
    color-scheme: unset;
}

html,
body {
    height: 100%;
}

.navbar {
    transition: all 0.3s;
}

.navbar-scrolled {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 85%;
    height: auto !important;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

#push {
    height: 60px;
}

#wrap > .container {
    padding-top: 60px;
}

.container .credit {
    margin: 20px 0;
}

.c-icon {
    font-size: 1.2rem;
}

.stack-img {
    max-width: 3.5rem;
    max-height: 2rem;
}

.stack-img-wider {
    max-width: 3.5rem;
    max-height: 2.5rem;
}

.stack-img-shorter {
    max-width: 1.5rem;
    max-height: 1.5rem;
}

#wrap.content-justify p:not(.content-not-justify) {
    text-align: justify !important;
}

img.gray-image {
    filter: grayscale(1);
}

/**
Customization to highlight.js
 */
pre code.hljs {
    padding-top: 0 !important;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.text-carousel {
    color: white;
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}

.divider {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.divider::before, .divider::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: #2125290d;
    margin: 5px;
}

.emoji {
    color: transparent !important;
    text-shadow: 0 0 0 #8f969dbf !important;
}

/* region Overrides */
/* region AsciiDoc */
@media only screen and (min-width: 768px) {
    #toctitle {
        font-size: 1.375em
    }

    #toc.toc {
        position: fixed;
        width: 15em;
        left: 0;
        top: 0;
        border-right: 1px solid #efefed;
        border-top-width: 0 !important;
        border-bottom-width: 0 !important;
        z-index: 1000;
        padding: 1.25em 1em;
        height: 100%;
        overflow: auto;
        padding-top: 90px;
    }

    #toc.toc #toctitle {
        margin-top: 0;
        margin-bottom: .8rem;
        font-size: 1.2em
    }

    #toc.toc > ul {
        font-size: .9em;
        margin-bottom: 0
    }

    #toc.toc ul ul {
        margin-left: 0;
        padding-left: 1em
    }

    #toc.toc ul.sectlevel0 ul.sectlevel1 {
        padding-left: 0;
        margin-top: .5em;
        margin-bottom: .5em
    }
}

@media only screen and (min-width: 1280px) {
    body.toc2 {
        padding-left: 20em;
        padding-right: 0
    }

    #toc.toc {
        width: 20em;
        padding-top: 90px;
    }

    #toc.toc #toctitle {
        font-size: 1.375em
    }

    #toc.toc > ul {
        font-size: .95em
    }

    #toc.toc ul ul {
        padding-left: 1.25em
    }
}

#toc {
    a {
        color: #495057;
    }

    li:hover, li:focus {
        background-color: #e9ecef;
    }
}

.sect1 + .sect1 {
    border-top: inherit
}

:not(pre) > code {
    background: inherit;
}

.admonitionblock > table td.content, .admonitionblock > table td.icon, blockquote, blockquote p,
#preamble > .sectionbody > [class=paragraph]:first-of-type p, .paragraph.lead > p, table tr td, table tr th, #toctitle {
    color: inherit;
}

.admonitionblock td.icon [class^="fa icon-"] {
    font-size: 2em;
}

[data-bs-theme="dark"] {
    .conum[data-value]::after {
        color: #2f2b2b;
    }

    .conum[data-value] {
        background-color: #dee2e6;
    }

    .admonitionblock td.icon [class^="fa icon-"]::before {
        color: #dee2e6;
    }
}

/* endregion */
/* endregion */
