[data-bs-theme="dark"] {
    color-scheme: unset;
}

html,
body {
    height: 100%;
}

.navbar {
    transition: all 0.3s;
}

.navbar-scrolled {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 85%;
    height: auto !important;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

#push {
    height: 60px;
}

#wrap > .container {
    padding-top: 60px;
}

.container .credit {
    margin: 20px 0;
}

.c-icon {
    font-size: 1.2rem;
}

.stack-img {
    max-width: 3.5rem;
    max-height: 2rem;
}

.stack-img-wider {
    max-width: 3.5rem;
    max-height: 2.5rem;
}

.stack-img-shorter {
    max-width: 1.5rem;
    max-height: 1.5rem;
}

#wrap.content-justify p:not(.content-not-justify) {
    text-align: justify !important;
}

img.gray-image {
    filter: grayscale(1);
}

/**
Customization to highlight.js
 */
pre code.hljs {
    padding-top: 0 !important;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.text-carousel {
    color: white;
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}

.divider {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.divider::before, .divider::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: #2125290d;
    margin: 5px;
}

.emoji {
    color: transparent !important;
    text-shadow: 0 0 0 #8f969dbf !important;
}

/* Overrides */
/* AsciiDoc */
.sect1+.sect1 {border-top: inherit}
:not(pre)>code { background: inherit; }
.admonitionblock > table td.content, .admonitionblock>table td.icon, blockquote, blockquote p,
#preamble>.sectionbody>[class=paragraph]:first-of-type p, .paragraph.lead>p, table tr td, table tr th {
    color: inherit;
}
.admonitionblock td.icon [class^="fa icon-"] {
    font-size: 2em;
}
[data-bs-theme="dark"] {
    .conum[data-value]::after {
        color: #2f2b2b;
    }
    .conum[data-value] {
        background-color: #dee2e6;
    }
    .admonitionblock td.icon [class^="fa icon-"]::before {
        color: #dee2e6;
    }
}
