html,
body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 85%;
  height: auto !important;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

#push{
  height: 60px;
}

#wrap > .container {
  padding-top: 60px;
}

.container .credit {
  margin: 20px 0;
}

.c-icon {
  font-size: 1.2rem;
}

.stack-img {
  max-width: 3.5rem;
  max-height: 2rem;
}

.stack-img-wider {
  max-width: 3.5rem;
  max-height: 2.5rem;
}

.stack-img-shorter {
  max-width: 1.5rem;
  max-height: 1.5rem;
}

#wrap.article p {
  text-align: justify!important;
}
